.map {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 1% 3%;
}

.recommend,
.latest
{
    height: 400px;
    position: sticky;
    top: 60px;
}

.download,
.link
{
    height: 400px;
}

.card-header {
    background-color: lightgrey;
}

div>b {
    color: grey;
}

.card-body-recommend {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.card-small {   /*推荐栏目的小卡片*/
    width: 100%;
    height: 140px;
}

.card-img-top {
    width: 100%;
    height: 60%;
}

.card-title {
    font-size: .8rem;
    margin: 0px;
    padding: 5px;
}

.card-title-latest {
    margin: 5px 20px;
    color: blue;
    font-size: 1.2rem
}

.article-category-recommend {
    margin: 0px;
    padding: 0px 5px;
}

.article-category-latest {
    margin: 5px 20px;
}

.badge {
    font-size: .8rem;
}

/*最近更新文章*/
.d-block {
    width: 100%;
    height: 180px;
}

.card-text {
    color: black;
    height: 50px
}