.navbar {
position: sticky;
top: 0;
z-index: 1;
}

nav>a {
    color: white;
}

.dropdown {
    float: right;
}

.dropdown-menu {
    padding: 0;
}

.list-group-item {
    padding: 0;
}

nav>a {
    color: white;
}

.nav-link {     /*主分类颜色*/
    color: white;
}

#search_tool {
    float: left;
}

#welcome {
    color: white;
}

#logout {
    color: rgba(188,0,0,0.5);
}

/*用户下拉框*/
.layne-dropdown {
    width: 60px;
    margin-right: 10px;
}

.layne-portrait-small {
    width: 20px;
    height: 20px;
}

#layne-dropdown-menu {
    width: 250px;
    height: 360px;
    overflow: hidden;
}

.layne-dropdown-menu-grid {
    width: 32%;
    height: 80px;
    margin: 3px;
    font-size: 0.6rem;
}

.layne-dropdown-menu-exit {
    width: 75%;
    margin: 0 auto;
}

.layne-fa {
    font-size: 30px;
}