asgiref==3.5.2
captcha==0.4
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.0
cryptography==37.0.2
Django==4.0.4
django-mdeditor==0.1.20
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
fake-useragent==0.1.11
idna==3.3
Markdown==3.4.1
mysql-connector-python==8.0.29
mysqlclient==2.1.1
numpy==1.23.2
Pillow==9.2.0
pycparser==2.21
pygame==2.1.2
Pygments==2.12.0
PyMySQL==1.0.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pywin32==304
requests==2.28.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.10
WMI==1.5.1
XlsxWriter==3.0.3
