body {
  height: 100%;
  background-image: url('../image/bg.jpg');
}

.container {            /*让块元素居中对齐*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login{
  margin-top:80px;
  font-weight: 400;
}

.form-login .form-control {
  position: relative=
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;

}
.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 200;
  border-top-right-radius: 200;
}
form a{
  display: inline-block;
  margin-top:25px;
  font-size: 15px;
  line-height: 10px;
}
#verify-code {
width: 280px;
max-height: 20px;
}

#login-button {
width: 100%;
}

#register-button {
margin-top: 10px;
float: right;
}

#button{
text-align: center;
}