{% extends 'main/footer.html' %}
{% load static %}

<!---------------------------页面标题----------------------------->

{% block title %}
Welcome to layneblog!
{% endblock %}

<!---------------------------静态资源----------------------------->
{% block link %}
<!--为代码高亮导入样式-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/highlights/zenburn.css' %}">
{% endblock link %}

<!----------------------------页面内容---------------------------->

{% block content %} {# 输入父模板的接口名字 #}

<!--文章全局-->
<div class="col-12"
     style="font-size: 18px;width: 80%;margin: 0 auto;padding-bottom: 0px;pxword-break: break-all;word-wrap: break-word;"
     xmlns="http://www.w3.org/1999/html">
    <!--width: 1000px;margin: 0 auto;让文章内容居中对齐-->
    {% if message %}
    <div class="alert alert-warning"><h3 style="margin: 0 auto;">{{ message }}</h3></div>
    {% else %}
    <!--文章定位-->
    <div class="rounded"
         style="margin-top: 20px;padding: 5px 0px;position:sticky;background-color: rgb(255 255 255 /0);">
        <em><i>{{ article.category.category.title }} > <a
                href="{% url 'main:categoryview' %}/?category={{ article.category.id }}">
            {{ article.category.title }}</a> > <a
                href="{% url 'main:articleview' article.id %}">
            {{ article.title }}</a></i></em>
    </div>
    <!--文章正文-->
    <div class="border border-info shadow p-3 mb-3 bg-white rounded" style="margin-top: 20px;">
        {{ article.body | safe }}
    </div>
    {% endif %}

    <!--附件下载-->
    {% if files %}
    <div class="border border-success shadow p-3 mb-3 bg-white rounded">
        <h5>Downloads: </h5>
        <hr/>
        <ul>
            {% for file in files %}
            <li>
                <p style="margin: 2px;"><small>
                    {{ file.name }}
                    <a href="/{{ file.path }}">[click here to download]</a>
                </small></p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr>
    <small><i>Created: {{ article.created|date:"Y-m-d" }}</i></small><br>
    {% if article.author == request.user %}
    <a href="{% url 'home:center' %}" style="color: dodgerblue">
        <small>
            <i>Author: {{ article.author }}</i>
        </small>
    </a><br>
    {% else %}
    <a href="{% url 'main:visitarticleview' article.author.id %}" style="color: dodgerblue">
        <small>
            <u>Author: {{ article.author }}</u>
        </small>
    </a><br>
    {% endif %}
    <small><i>Browse: {{ article.views }}</i></small>
</div>

{% endblock %}

<!----------------------------页码---------------------------->

{% block page %}

<div style="width: 80%;padding: 5px 20px;margin: 0 auto;">
    <!--上一篇&下一篇-->
    <hr>
    <div>
        <div><b>Previous: </b>
            {% if previous_article %}
            <a href="{% url 'main:articleview' previous_article.id %}">{{ previous_article }}</a>
            {% else %}
            None
            {% endif %}
        </div>
        <div><b>Next: </b>
            {% if next_article %}
            <a href="{% url 'main:articleview' next_article.id %}">{{ next_article }}</a>
            {% else %}
            None
            {% endif %}
        </div>
    </div>
</div>

{% endblock page %}