{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}父模板{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
<!--写入自定义内容-->


<!--自定义内容结束-->
</main>
<script src="{% static 'jquery/jquery-3.6.1.min.js' %}"></script>
<!--<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
<script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>