{% extends 'usebootstrap.html' %}
{% load static %}

{% block title %} nav {% endblock title %}


{% block nav %}
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'main:indexview' %}">HOME</a>
    <!-- 导航栏，文章分类部分-->
    <ul class="nav">
        {% for mcat in maincategory %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
               aria-expanded="false" >{{ mcat.title }}</a>
            <div class="dropdown-menu">
                {% for scat in subcategory %}
                {% if scat.maincategory == mcat %}
                <a class="dropdown-item" href="{% url 'main:categoryview' %}">{{ scat.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="col order-last">
        <div id="search_tool">
            <!--搜索框-->
            <form class="form-inline my-2 my-lg-0" action="." method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="keyword"
                       aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" id='welcome' data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">{{ user.username }}, Welcome!</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="dropdown-item" href="/admin/">
                            <b>Management</b>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="dropdown-item" href="/article_list/">
                            <b>Article List</b>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="dropdown-item" href="/post/">
                            <b>Post Article</b>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="dropdown-item" href="/post_file/">
                            <b>Post File</b>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="dropdown-item" href="/post_link/">
                            <b>Post Link</b>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="dropdown-item" id="logout" href="{% url 'main:logout' %}">
                            <b>Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--内容接口-->
{% endblock nav %}

