{% extends 'usebootstrap.html' %}
{% load static %}

{% block title %} nav {% endblock title %}

{% block nav %}
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="z-index: 1111"> <!--z-index设置模态框层级，不然被遮盖-->
    <a class="navbar-brand" href="{% url 'main:indexview' %}">HOME</a>
    <!-- 导航栏，文章分类部分-->
    <ul class="nav">
        {% for mcat in maincategory %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
               aria-expanded="false">{{ mcat.title }}</a>
            <div class="dropdown-menu">
                {% for scat in subcategory %}
                {% if scat.category == mcat %}
                <a class="dropdown-item" href="{% url 'main:categoryview' %}/?category={{ scat.id }}">
                    {{ scat.title }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="col order-last">
        <div id="search_tool">
            <!--搜索框-->
            <form class="form-inline my-2 my-lg-0" action="{% url 'main:search' %}" method="get">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" value="{{ keyword }}" placeholder="Search"
                       name="keyword" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="dropdown layne-dropdown">
            <!--小头像照片-->
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle layne-portrait-small" src="{{ profile.portrait.url }}" alt="None">
            </a>
            <!--用户下拉框-->
            <div class="dropdown-menu dropdown-menu-right" id="layne-dropdown-menu" aria-labelledby="dropdownMenuLink">
                <!--以容器形式展现-->
                <div style="margin-top: 10px;">
                    <div style="text-align: center;">
                        <img class="rounded-circle" src="{{ profile.portrait.url }}" alt="None"
                             style="width: 60px;height: 60px;">
                    </div>
                    <div style="text-align: center;line-height: 36px;font-size: 1.5rem;">
                        <span>Hello, {{ request.user.username }}</span>
                    </div>
                </div>
                <hr>
                <div style="display: flex;">
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="{% url 'post:article' %}">
                            <i class="fa fa-pencil-square-o layne-fa" aria-hidden="true"></i>
                        </a>
                        <div class="text-center">post articles ({{ user_article_count }})</div>
                    </div>
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="{% url 'post:file' %}">
                            <i class="fa fa-file-archive-o layne-fa" aria-hidden="true"></i>
                        </a>
                        <div class="text-center">post files ({{ user_file_count }})</div>
                    </div>
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="{% url 'post:link' %}">
                            <i class="fa fa-link layne-fa" aria-hidden="true"></i>
                        </a>
                        <div class="text-center">post links ({{ user_link_count }})</div>
                    </div>
                </div>
                <div style="display: flex">
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="{% url 'home:center' %}">
                            <i class="fa fa-user-circle layne-fa" aria-hidden="true"></i>
                        </a>
                        <div class="text-center">account</div>
                    </div>
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="/media/help.html"><i class="fa fa-question-circle-o layne-fa"
                                                      aria-hidden="true"></i></a>
                        <div class="text-center">help</div>
                    </div>
                    <div class="text-center layne-dropdown-menu-grid">
                        <a href="/admin/"><i class="fa fa-user-secret layne-fa" aria-hidden="true"></i></a>
                        <div class="text-center">management</div>
                    </div>
                </div>
                <div class="text-center">
                    <form action="{% url 'main:logout' %}">
                        <button type="button" class="border layne-dropdown-menu-exit btn btn-outline-danger"
                                data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fa fa-sign-out" style="color: black" aria-hidden="true"></i>
                            <b style="color: black">Exit</b>
                        </button>
                        <!-- Modal -->
                        <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle"><i
                                                class="fa fa-info-circle" aria-hidden="true"></i></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-times"
                                                                        aria-hidden="true"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Are you sure you want to quit ? </b>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Stay</button>
                                        <form action="{% url 'main:logout' %}">
                                            <button type="submit" class="btn btn-danger">Quit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--内容接口-->
{% endblock nav %}

