{% extends 'usebootstrap.html' %}
{% load static %}

{% block title %} Post your Article {% endblock title %}

{% block content %}

<div style="width:80%;padding:20px;" class="container">
    <div class="col">
        <form enctype="multipart/form-data" action="{% url 'post:article' %}" method="post" novalidate>
            {% csrf_token %}

            {% if good_message %}
            <div class="alert alert-success">{{ good_message }}</div>
            {% elif bad_message %}
            <div class="alert alert-danger">{{ bad_message }}</div>
            {% endif %}

            <h3 style="padding-bottom:20px;">Post Your Article</h3>

            <div style="display: block;background-color: red;">
                <div class="form-group" style="color: black;float: left;">
                    {{ form.avatar.label_tag }}<br/>
                    {{ form.avatar }}
                </div>
                <div class="form-group" style="float: right;color: black;width: 70%;">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
            </div>
            <div class="form-group" style="color:black;">
                {{ form.title.label_tag }}
                {{ form.title}}
                {% if form.title.errors %}
                <div class="alert alert-danger" style="margin: 5px;padding 0px;">{{ form.title.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group" style="color:black;">
                {{ form.tag.label_tag }}
                {{ form.tag }}
                {% if form.tag.errors %}
                <div class="alert alert-danger" style="margin: 5px;padding 0px;">{{ form.tag.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group" style="color:black;">
                {{ form.summary.label_tag }}
                {{ form.summary }}
                {% if form.summary.errors %}
                <div class="alert alert-danger" style="margin: 5px;padding 0px;">{{ form.summary.errors }}</div>
                {% endif %}
            </div>

            <div>
                <div>
                    {{ form.body.label_tag }}
                </div>
                <div id="editormd">
                    <textarea style="display: ;" name="body"></textarea>
                </div>
                {% if form.body.errors %}
                <div class="alert alert-danger" style="margin: 5px;padding 0px;">{{ form.body.errors }}</div>
                {% endif %}
            </div>

            <!--文件上传按钮-->
            <div class="a" style="color:black;">
                {{ form.file.label_tag }}
                {{ form.file }}
            </div>

            <div style="margin-top: 20px;">
                <a href="{% url 'home:center' %}">
                    <ins>Back</ins>
                </a>
                <button type="submit" class="btn btn-success float-right" style="width: 15%;">Post</button>
            </div>
        </form>
    </div>
</div>

{% endblock content%}
